<h2>Contact Us</h2>
<div id="theForm">
    <form>
        <label>Your Name:</label>
        </br>
        <input type="text" />
        </br>
        <label>Your Email:</label>
        </br>
        <input type="text" />
        </br>
        <label>Subject:</label>
        </br>
        <input type="text" />
        </br>
        <label>Your Name:</label>
        </br>
        <textarea rows="4"></textarea>
        </br>
        <input type="submit" value="Send Message" />
        </br>
    </form>
</div>