@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Dutch Treat: @ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
</head>
<body>
    <h1>@ViewBag.Title</h1>
    <div class="product-info">
        <img src="~/imgs/vgg.jpg" alt="Van Gogh" />
        <h3>Mug</h3>
        <ul class="product-props">
            <li><strong>Price: </strong>$9.99</li>
            <li><strong>Artist: </strong>Van Gogh</li>
            <li><strong>Title: </strong></li>
            <li><strong>Description: </strong>Self-portrait</li>
        </ul>
        <button>Buy</button>
    </div>
    <div id="theForm">
        <form>
            <label>Your Name:</label>
            </br>
            <input type="text" />
            </br>
            <label>Your Email:</label>
            </br>
            <input type="text" />
            </br>
            <label>Subject:</label>
            </br>
            <input type="text" />
            </br>
            <label>Your Name:</label>
            </br>
            <textarea rows="4"></textarea>
            </br>
            <input type="submit" value="Send Message" />
            </br>
        </form>
    </div>
</body>
</html>