@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Dutch Treat: @ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
</head>
<body>
    <header>
        <h2>Welcome to Dutch Threat</h2>
        <nav>
            <ul>
                <li><a asp-controller="App" asp-action="Index">Home</a></li>
                <li><a asp-controller="App" asp-action="About">About</a></li>
                <!--Os links da forma abaixo são frágeis. Qualquer mudança de rota ou alteração levará a erros. Com os TagHelpers acima isso não ocorre.-->
                <li><a href="/app/contact">Contact</a></li>
                <li><a asp-controller="App" asp-action="Contact2">Contact 2</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>@ViewBag.Title</h1>
    </section>
    @RenderBody()
    <footer>Copyright 2019 - Dutch Threat</footer>
</body>
</html>